<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/jpg" href="/blackbg.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>elderfieldzeus | ZoosTree</title>
	</head>
	<body>
		<div class="bg"></div>
		<main class="pt-16 pb-24 m-auto max-w-[36rem] relative">
			<slot/>
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0 0.3rem;
		width: 100%;
		height: 100%;
		background-color: black;
		font-family: 'Kanit';
	}
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100lvh;
		background-image: url("/image.png");
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
	}
</style>
